@page "/portrait/{entity_id}"

@using Blazor_specification.Data

<h3>Portrait @entity_type @entity_name</h3>
<div class="container-fluid">
    <h4>Fields</h4>
    <MatTable Items="@pairs" ShowPaging="false" class="mat-elevation-z5" style="width:auto;" HeaderRowClass="d-none">
        <MatTableRow>
            <td>@context.predicate</td>
            <td>
                @if (context is Field)
                {
                    var value = ((Field)context).value;
                    <span>@value</span>
                }
                else
                {
                    var new_id = ((Linked)context).link;
                    <a href="/portrait/@new_id">@DataService.GetEntityName(new_id)</a>
                }

            </td>
        </MatTableRow>
    </MatTable>
</div>
@if (reference_pairs.Length != 0)
{
<div class="container-fluid">
    <h4>References</h4>
    <MatTable Items="@reference_pairs" ShowPaging="false" class="mat-elevation-z5" style="width:auto;" HeaderRowClass="d-none">
        <MatTableRow>
            <td>@context.predicate</td>
            <td>
                @if (context is Field)
                {
                    var value = ((Field)context).value;
                    <span>@value</span>
                }
                else
                {
                    var new_id = ((Linked)context).link;
                    <a href="/portrait/@new_id">@DataService.GetEntityName(new_id)</a>
                }

            </td>
        </MatTableRow>
    </MatTable>
</div>
}

    @code {
        [Parameter]
        public string entity_id { get; set; }

        private string entity_type;
        private string entity_name;
        private Pair[] pairs;
        private Pair[] reference_pairs;

        protected override void OnParametersSet()
        {
            pairs = DataService.GetPairs(entity_id);
            entity_type = DataService.GetEntityType(entity_id);
            entity_name = DataService.GetEntityName(entity_id);
            reference_pairs = DataService.GetReferencePairs(entity_id);
        }

    }
