@page "/search"
@using Blazor_specification.Data

<h3>Search</h3>
<MatStringField @bind-Value="@query"></MatStringField>
<MatSelectItem  @bind-Value="@selected_type" Items="@entity_types"></MatSelectItem>
<MatButton @onclick="SearchByQuery">Поиск</MatButton>
<div class="container-fluid">
    <h3>Results:</h3>
    <MatTable Items="@query_result" ShowPaging="false" class="mat-elevation-z5" style="width:auto;" HeaderRowClass="d-none"	>
        <MatTableRow>
            @{var link = "/ent/" + context;}
            <td><NavLink href="@link">@DataService.GetEntityName(context)</NavLink></td>
        </MatTableRow>
    </MatTable>
</div>

@code {
    private string query = "";
    private string[] entity_types;
    private string selected_type = "All";
    private string[] query_result;

    void SearchByQuery()
    {
        query_result = DataService.SearchByTypeAndString(query, selected_type);


    }

    protected override void OnInitialized()
    {
        entity_types = DataService.GetEntityTypes();
    }
}